* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

main {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.top {
    background-color: white;
    padding: 2em;
    width: 100%;
}

.top h3 {
    color:aqua;
    font-size: 20px;
    padding-bottom: 10px;
    font-size: bold;
}

.top .p-top {
    color:rgb(207, 220, 186);
    font-size: 15px;
    padding-bottom: 10px;
}

.bottom-content {
    display: flex;
    width: 100%;
}

.bottom-content .top-bottom {
    background-color: darkgreen;
    padding: 2em;
    width: 100%;
}

.bottom-content .bottom-bottom {
    background-color: rgb(56, 243, 56);
    padding: 2em;
    width: 100%;
}
